@import url(variables.css);


/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el encabezado */
.encabezado {
    background-color: var(--color-primario);
    color: var(--color-texto);
    padding: var(--espaciado-general);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.encabezado__logo-destacada {
    width: 200px;
    height: auto;
    border-radius: var(--border-radius);
}

.encabezado__titulo {
    font-family: var(--fuente-principal);
    font-size: 2em;
}

.encabezado__menu ul {
    list-style: none;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: var(--espaciado-general);
    padding: 10px;
    background-color: #212121;
    border-radius: var(--border-radius);
    /*position: fixed;*/
}

.encabezado__menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.encabezado__menu a:hover {
    text-decoration: underline;
    color: #ccc;
}

.encabezado__mensaje {
    margin-top: var(--espaciado-general);
    font-size: 1.5em;
    font-style: italic;
    margin: 50px;
}

/* Section sobre nosotros */
.presentacion {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding: var(--espaciado-general);
    text-align: center;
    flex-basis: 1s;
    margin: auto;
    margin-top: 25px;
    /*transition: flex-basis 1s cubic-bezier(0,.9,.4,.99);*/
}

.presentacion__titulo {
    font-family: var(--fuente-principal);
    font-size: 2em;
    margin-bottom: var(--espaciado-general);
}

.presentacion__descripcion {
    font-size: 1.2em;
    margin-bottom: var(--espaciado-general);
}

.presentacion__imagenes {
    display: flex;
    justify-content: center;
    gap: var(--espaciado-general);
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
}

.presentacion__imagen {
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.presentacion__imagen img {
    width: 100%;
    height: auto;
    display: flex;
    object-fit: cover;
}

.presentacion__imagen-1 {
    overflow: hidden;
}

.presentacion__imagen-1 img {
    transition: transform 0.5s ease;
}

.presentacion__imagen-1 img:hover {
    transform: scale(1.12);
}

.presentacion__imagen-2 {
    overflow: hidden;
}

.presentacion__imagen-2 img {
    transition: transform 0.5s ease;
}

.presentacion__imagen-2 img:hover {
    transform: scale(1.12);
}

.presentacion__titulo--descripcion {
    padding: var(--espaciado-general);
    background-color: white;
}

.presentacion__titulo--modificado {
    font-family: var(--fuente-principal);
    font-size: 1.5em;
    margin-bottom: var(--espaciado-general);
}

.presentacion__descripcion--modificado {
    font-size: 1em;
}

/* Section servicios */
.servicios {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding: var(--espaciado-general);
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 25px;
}

.servicios__titulo {
    font-family: var(--fuente-principal);
    font-size: 2em;
    margin-bottom: var(--espaciado-general);
}

.servicios__titulo--modificado {
    font-family: var(--fuente-principal);
    font-size: 1.5em;
    margin-bottom: var(--espaciado-general);
}

.servicios__descripcion {
    font-size: 1.2em;
    margin-bottom: var(--espaciado-general);
}

.servicios__imagenes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--espaciado-general);
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    padding: 10px;
}

.servicios__imagen-1,
.servicios__imagen-2,
.servicios__imagen-3 {
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    max-width: 400px;
    padding: 20px;
    background: #ffffff;
}

.servicios__imagen-1:hover {
    transform: scale(1.12);
}

.servicios__imagen-2:hover {
    transform: scale(1.12);
}

.servicios__imagen-3:hover {
    transform: scale(1.12);
}

/* Section galeria */
.galeria {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding: var(--espaciado-general);
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

.galeria__titulo {
    font-family: var(--fuente-principal);
    font-size: 2em;
    margin-bottom: var(--espaciado-general);
}

.carousel-item {
    text-align: center;
    background-color: #ffffff;
    padding: var(--espaciado-general);
    margin: auto;
    max-width: 500px;
    flex-direction: row;
    flex-wrap: wrap;
}

.carousel-item img {
    border-radius: var(--border-radius);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.carousel-control-prev-icon {
    background-color: var(--color-primario);
    border-radius: var(--border-radius);
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
    transition: transform 0.5s ease;
}

.carousel-control-next-icon {
    background-color: var(--color-secundario);
    border-radius: var(--border-radius);
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px;
}

.carousel-item:hover {
    transform: scale(1.12);
}

/* section testimonios */
.testimonios {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding: var(--espaciado-general);
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

.testimonios__titulo {
    font-family: var(--fuente-principal);
    font-size: 2em;
    margin-bottom: var(--espaciado-general);
}

.testimonios__titulo--modificado {
    font-family: var(--fuente-principal);
    font-size: 1.5em;
    margin-bottom: var(--espaciado-general);
}

.testimonios__descripcion {
    font-size: 1em;
    margin-bottom: var(--espaciado-general);
}

.col-md-6 {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.card {
    max-width: 45%;
    margin: 10px;
    background: #ffffff;
    border-radius: var(--border-radius);
    padding: 20px;
}

/* Section blog */
.blog {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding: var(--espaciado-general);
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

.blog__titulo {
    font-family: var(--fuente-principal);
    font-size: 2em;
    margin-bottom: var(--espaciado-general);
}

.blog__enlaces {
    list-style: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-general);
}

.blog__enlaces a:hover {
    color: #212121;
    text-decoration: underline;
    font-size: 1.2em;
}

/* Section contacto */
.contacto {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding: var(--espaciado-general);
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

.contacto__titulo {
    font-family: var(--fuente-principal);
    font-size: 2em;
    margin-bottom: var(--espaciado-general);
}

.contacto__descripcion {
    font-size: 1.2em;
    margin-bottom: var(--espaciado-general);
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--espaciado-general);
    max-width: 400px;
    margin: auto;
}

.contacto__formulario input,
.contacto__formulario textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 1em;
}

/* Section pie de página */
.piepagina {
    background: linear-gradient(70deg, #3ae2eeef 10%, #63f356e3 80%);
    color: var(--color-texto);
    padding: var(--espaciado-general);
    text-align: center;
}

.piepagina__contacto,
.piepagina__redes,
.piepagina__derechos {
    font-size: 1em;
    margin-bottom: var(--espaciado-general);
}

/* Section Gestor de tareas */
.tareas {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    padding: var(--espaciado-general);
    text-align: center;
    margin: auto;
    margin-top: 25px;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 1em;
    width: 70%;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: var(--color-primario);
    color: var(--color-texto);
    border: none;
    border-radius: var(--border-radius);
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: var(--color-secundario);
}

@media screen and (max-width: 768px) {
    .encabezado {
        flex-direction: column;
        text-align: center;
    }

    .encabezado__menu ul {
        flex-direction: column;
        gap: 10px;
    }

    .presentacion__imagenes,
    .servicios__imagenes {
        flex-direction: column;
        align-items: center;
    }

    .col-md-6 {
        max-width: 100%;
    }

    .card {
        max-width: 100%;
    }
}