:root {
    --color-primario: #76f02fe3;
    --color-secundario: #FF9800;
    --color-fondo: #f2f555d3;
    --color-texto: #212121;
    --fuente-principal: 'Arial', sans-serif;
    --espaciado-general: 16px;
    --border-radius: 20px;
}